/* temporary styles */
.downloads {
    background-color: #97ddaa;
    color: #304462;
    text-align: center;
  }
  
  .regulation__title {
    font-family: var(--primary-font);
    font-size: 2rem;
    line-height: 2.8rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

.downloads__wrapper {
  padding: 2rem 0 0;
}
  
 