:root {
    --primary-font: 'Caveat Brush', cursive;
    --secondary-font: 'Montserrat', sans-serif;
    --primary-color: #30bd56;
    --secondary-color: #fff;
    --third-color: #7aabf7;
    --forth-color: #ff2a2a;
    --fifth-color: #304462;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--secondary-font);
    font-size: 16px;
    width: 100%;
}

main {
    position: relative;
    top: 5rem;
}

.container {
    width: 90vw; 
    margin: 0 auto; 
}

li, a {
    text-decoration: none;
}

.sky-top {
    background: url(../img/sky-top.svg);
    margin-top: -30px;  
    width: 100%;
    height: 10rem;
    margin: -40px 0; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    position: absolute;
    top: 62vh;
}

.top {
    background: url(../img/meadow-top.svg); 
}

.middle {
    background: url(../img/meadow-middle.svg); 
}

.bottom {
    background: url(../img/meadow-bottom.svg); 
}

.meadow {
    width: 100%;
    height: 8rem;
    margin: -1px 0; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 350px) {
    main {
        position: relative;
        top: 4rem;
    }
}

@media only screen and (min-width: 768px) {
    .sky-top {
        top: 65vh;
    }   

    .meadow {
        height: 10rem;
    }
}

@media only screen and (min-width: 1300px) {
    .container {
        max-width: 60vw;
    }
}
