/* temporary styles */
.menu {
  background-color: #97ddaa;
  color: #304462;
  text-align: center;
}

.menu__title {
  font-family: var(--primary-font);
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.menu__title {
  padding-bottom: 3rem;
}

.menu__description {
  font-size: 1.1rem;
  line-height: 2rem;
  margin: 0;
  overflow: hidden;
  text-align: left;
}

.menu__row {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
}

.menu__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.menu__day {
  background-color: var(--third-color);
  color: var(--secondary-color);
  font-weight: bold;
  padding: 1rem;
}

.menu__row__name {
  font-weight: bold;
  padding: 1rem;
}

.menu__row__description {
  padding: 0 1rem;
}

.menu__row__description--modifier {
  padding: 0 1rem 1rem;
}

.menu__cell {
  border-radius: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  overflow: hidden;
}

@media only screen and (min-width: 1024px) {
  .menu__cell {
    display: flex;
    flex-direction: row;
  }

  .menu__day {
    min-width: 20%;
  }
}
