.nav-bar {
  background-color: var(--primary-color);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
  justify-content: space-between;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Logo and properties will change */
.nav-bar__logo {
  cursor: pointer;
  height: 40px;
  margin: 0;
  padding: 0.2rem;
}

nav {
  justify-content: flex-start;
  /* visibility: hidden; */
}

.nav-bar__links {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar__links__item {
  display: none;
  font-weight: bold;
  padding: 0.5rem;
}

.nav-bar__links__item:hover {
  background-color: #00802b;
}

.nav-bar__single-link {
  color: var(--secondary-color);
  align-self: center;
}

.nav-bar__sublinks {
  visibility: hidden;
  height: 0;
  padding: 0;
  position: relative;
  z-index: 10;
}

.nav-bar__sublinks .nav-bar__links__item {
  background-color: #006622;
  height: 0;
  opacity: 0;
  transition: height 0.5s ease-out 0.1s, opacity 0.5s ease-out;
  width: 100%;
}

.nav-bar__sublinks .nav-bar__links__item:not(:first-child) {
  border-top: 1px solid #004d1a;
}


.nav-bar__links__item:hover .nav-bar__sublinks {
  visibility: visible;
  height: auto;
  opacity: 1;
  transition: height 0.5s ease-out, opacity 0.5s ease-out 0.1s;
}

.nav-bar__links__item:hover .nav-bar__sublinks .nav-bar__links__item {
  height: 3rem;
  opacity: 1;
  transition: height 0.5s ease-out, opacity 0.5s ease-out 0.1s;
}

.nav-bar__mobile {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1.2em;
  transition: transform 1s ease-out;
}

.nav-bar__icon {
  cursor: pointer;
  color: var(--secondary-color);
}

.nav-bar__mobile:active {
  transform: translateY(0.2rem);
}

.hide {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  /* transform: scaleY(1);
  visibility: visible;
  -webkit-transform: scaleY(1); */
}

/* popular media query */
@media only screen and (max-width: 479px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 767px) {
  /* nav {
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: 1000ms;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
  } */

  .nav-bar__links__item {
    width: 100%;
    justify-content: center;
  }

  .nav-bar__single-link {
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    align-items: center;
    flex-direction: row;
  }

  nav {
    /* visibility: visible; */
    display: block;
  }

  .nav-bar__links {
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-bar__single-link {
    align-self: flex-start;
  }

  .nav-bar__links__item {
    display: flex;
    padding: 0.8rem 1.2rem;
    justify-content: center;
  }

  .nav-bar__sublinks {
    position: absolute;
    top: 48px;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-bar__mobile {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
}

@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1366px) {
}
