.news__wrapper {
  width: 100%;
  transition: transform 0.2s ease-in-out;
}

.news__wrapper:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.news__link {
  -moz-border-radius: 0.5rem;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: var(--fifth-color);
  background-color: var(--secondary-color);
  border-radius: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex; 
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem auto;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.news__link:hover .news__title {
  color: var(--third-color);
}

.news__img {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex; 
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.news__img > img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.news__content {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex; 
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
}

.news__details {
  flex-direction: column;
}

.news__title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 0 1rem;
}

.news__title-details {
  font-size: 3rem;
  font-family: var(--primary-font);
  line-height: 3rem;
  padding: 1rem 0 2rem;
}

.news__short-description {
  line-height: 2rem;
}

@media (min-width: 768px) {
  .news__link {
    flex-direction: row;
  }

  .news__img {
    width: 50%;
  }

  .news__img-details {
    padding: 1rem 1rem 2rem;
    width: 100%;
  }

  .news__details {
    flex-direction: column-reverse;
  }
}
