/* temporary styles */
.regulation {
  background-color: #97ddaa;
  color: #304462;
  text-align: center;
}

.regulation__title {
  font-family: var(--primary-font);
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.regulation__description {
  font-size: 1.1rem;
  line-height: 2rem;
  margin: 0;
  padding: 3rem 0;
  text-align: left;
}

.regulation__position {
  display: flex;
  justify-content: flex-start;
}

.regulation__number {
  font-weight: bold;
  min-width: 2rem;
}

.regulation__info {
  margin-top: 3rem;
}

.regulation__info-link {
  font-weight: bold;
  color: #304462;
}

.regulation__info-link {
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
  z-index: 15;
}

.regulation__info-link::before, .regulation__info-link:visited  {
  background-image: linear-gradient(to top, #fff 25%, rgba(0, 0, 0, 0) 40%);
  bottom: 2px;
  content: "";
  height: 50%;
  left: 0;
  position: absolute;
  width: 100%;
  will-change: width;
  transform: rotate(-2deg);
  transform-origin: left bottom;
  z-index: -1;
}

.regulation__info-link:hover::before {
  width: 0;
}

.regulation__info-link::before {
  transition: width 0.1s ease-out;
}

.regulation__info-link:hover::before {
  transition-duration: 0.15s;
}

@media (min-width: 500px) and (orientation: landscape) {
  .break {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .regulation__description {
    text-align: justify;
  }
}
